    *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff
}
#header{
    background-image: url(bbbbb.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.Container{
    padding: 10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
#head-name{
    font-size: 2rem;
    font-weight: 900
}
.x{
    color: red;
}

nav ul li{
    
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
 nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0;
    position: absolute;
    height: 3px;
    background: #ff004f;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
width: 100%;
}

.header-text{
    font-size: 30px;
    margin-top: 20%;
}
.header-text h1 {
    font-size: 25px;
    margin-top: 20px;
}
.header-text p {
    font-size: 60px;
}

/*--------------------------------------about-------------------------*/

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    margin-left: 30px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
}
.coloum-1{
    flex-basis: 35%;
      margin-left: 60px;
}
.coloum-1 img{
    height: 28rem;
    border-radius: 15px;
}
.coloum-2{
    flex-basis: 60%;
}
.coloum-2 h1{
    font-size: 60px;
    font-weight:700 ;
    color: #fff;
}
.tab{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    height: 3px;
    background: #ff004f;
    width: 0%;
    left: 0;
    bottom: -8px;
    position: absolute;
}
.tab-links.active-links::after{
    width: 50%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-content{
    display: none;
}
.tab-content.active-tabs{
    display: block;
}
/*---------------------------------------------------------about------------------------------------------------------*/



/*--------------------------------------------------------services----------------------------------------------------*/
#services{
    padding: 30px;
}
.sub-title{
     font-size: 60px;
    font-weight:700 ;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    color: white;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i {
    font-size: 50px;
    font-weight: 900;
}.services-list div h2 {
font-size: 30px;
font-weight: 900;
margin-top: 20px;
margin-bottom: 15px;
    }

    .services-list div a {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        margin-top: 20px;
        display: inline-block;
    }
     .services-list div:hover{
        background: #ff004f;
        transform: translateY(-10px);
     }
    /*------------------------------------------------------services-----------------------------------------------------*/



     /*------------------------------------------------portfolio--------------------------------------------------------*/
     #portfolio{
        padding: 50px ;
     }
     .portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
 }
 .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
 }
.work img {
    border-radius: 10px;
    width: 100%;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    border-radius: 10px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h2{
    font-weight: 700;
    margin-bottom: 20px;
}
.layer a {
    margin-top: 1rem;
    text-decoration: none;
    font-size: 18px;
    color:#ff004f;
    background: #fff;
    line-height: 60px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
    border: none;
}
/*------------------------------------------------portfolio--------------------------------------------------------*/

/*------------------------------------------------contact me------------------------------------*/

#contact{
    padding: 50px;
}
.coloum-1-contact{
    flex-basis: 35%;
}
.coloum-2-contact{
    flex-basis: 60%;
}
.coloum-1-contact p{
    margin: 1.3rem 0;
}
.coloum-1-contact p i {
color: #ff004f;
margin-right: 15px;
font-size: 25px;
}
.media-links{
    margin-top: 30px;
}
.media-links a {
    font-size: 2rem;
    text-decoration: none;
    color: #ababab;
    margin-right: 15px;
    display: inline-block;
    transition: tramsform 1s;
}
.media-links a:hover {
color: #ff004f;
transform: translateY(-8px);
}
.btn.btn2{
    background: #ff004f;
    display: inline-block;
}
.coloum-2-contact form{
    width:100%;
}
form input, form textarea{
    color: #fff;
    background: #262626;
    outline: none;
    border: 0;
    width: 100%;
    padding: 15PX;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
} 
form .btn2{
    padding: 4px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/*------------------------------------------------contact me------------------------------------*/

.copy-rights{
    width: 100%;
    padding: 25px 0;
    margin-top: 15px;
    color: #fff;
    background: #262626;
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.copy-rights i{
    color: #ff004f;
    margin: 0 8px;
}
nav .bi{
    font-size: 3rem;
    font-weight: 800;
    display: none;
}
#msg{
    color: green;
    margin-left: 1rem;
}
#submit-btn{
    transition: background 0.3s ease;
}
/*------------------------------------media------------------------------*/
@media only screen and (max-width: 600px) {
    #header {
        background-image: url("bbb.jpg");
    }
    .header-text{
        margin-top: 80%;
        font-size: 16px;
    }

    nav ul {
   display: none;
   position: fixed;
   right: 0;
   top: 0;
   height: 100vh;
   width: 200px;
   padding-top: 50px;
   background: #ff004f;
   transition:  1s;
}
nav .bi{
    display: block;
}
nav ul li{
    display: block;
    margin: 25px;
    
}
nav ul .bi{
    font-size: 2rem;
    position: absolute;
    left: 25px;
    top: 20px;
    cursor: pointer;
    
}
.coloum-1-contact, .coloum-2-contact {
    flex-basis: 100%;
}
.coloum-1{
      margin-left: 0px;
}
}

@media  (max-width: 350px) {

nav ul {
   
   position: fixed;
   right: 0;
   top: 0;
   height: 100vh;
   width: 300px;
   padding-top: 50px;
   background: #ff004f;
   transition:  1s;
}
.coloum-2 p {
    font-size: 10px;
}
}